body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #666;
}


em,
i {
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
}

//animation
@keyframes fadeUp {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.custom-select {
    position: relative;
    color: #333;

    select {
        display: none;
    }
}

.select-selected {
    border-radius: 10px;
}

.select-selected:after {
    position: absolute;
    content: '';
    top: 12px;
    right: 10px;
    background: url(../images/svg/next.svg) no-repeat;
    width: 9px;
    height: 10px;
    transform: rotate(90deg);
    transform-origin: center;
}

.select-items div,
.select-selected {
    color: #333;
    padding: 8px 16px 8px 10px;
    cursor: pointer;
    user-select: none;
    background: #fff;
}

.select-items {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 99;
    animation: fadeUp 0.2s forwards;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background: #ccc;
}

.bullets {
    font-size: 12px;

    li {
        position: relative;
        padding-left: 10px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 4px;
            height: 4px;
            background: #ffd651;
            border-radius: 50%;

        }

        &:not(:first-child) {
            margin-top: 5px
        }

        &.invest::before {
            background: rgba($color: #fff, $alpha: 0.5)
        }
    }
}

.figure {
    max-width: 360px;
    border-radius: 20px;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #eee;
    padding: 2.5em 1.8em;
    overflow: hidden;
    color: #3c3c3c;
    background: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

    h3 {
        font-size: 1.6em;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        font-weight: 700;
    }

    >p {
        font-size: 0.95em;
        color: #999;
        padding-top: 5px;
        font-weight: 300;
    }
}


.range-visual-images {
    text-align: center;
    background: #e3deec;
    margin: 1.5em 0em;
    padding: 1em;
    border-radius: 20px;

    img {
        width: 50%;
    }
}

.range-vlaues {
    margin-top: 2em;
    font-weight: 700;
    text-align: center;

    .values {
        max-width: 62%;
        display: inline-block;
        text-align: center;

        .currency {
            display: inline-block;
            vertical-align: middle;
            line-height: 33px;
            font-size: 18px;
            //margin-left: -8px;
        }

        .value-vertical-slider {
            display: inline-block;
            line-height: 33px;
            height: 33px;
            overflow: hidden;
            vertical-align: middle;
            font-size: 2em;
            font-weight: 900;

            ul {
                transition: 0.5s;

                li {
                    text-align: right;
                }
            }
        }
    }

    .select-option {
        width: 38%;
        display: inline-block;
        margin-left: 5px;
        text-align: left;

    }
}

.inputarea {
    margin-top: 25px;
    color: #222;

    >p {
        font-weight: 700;
        color: #222;
        font-size: 0.85em;
        text-transform: uppercase;
    }

    #example_1_input {
        border: 1px solid #beb9c5;
        border-radius: 10px;
        margin-top: 5px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        transition: 0.3s;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #333;

        &:focus {
            outline: none;
            border: 1px solid #b991ff;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }
    }
}

.btn {
    background: #ffd651;
    color: #fff;
    border: none;
    width: 100%;
    margin: 20px auto 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 35px;
    border-radius: 10px;
    font-size: 0.9em;
    color: #333;
    text-transform: uppercase;
}

.top-slide-wrap {
    position: relative;
    width: 100%;
    border-radius: 10px;
    background: #4e4d61;
    padding: 1em;
    color: #fff;
    height: 165px;
    overflow: hidden;

    .slide-item {
        .flex-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h3 {
        color: #fff;
        font-size: 1em;
        text-transform: initial;
        letter-spacing: 0.04em;
    }

    .amount {
        font-size: 1.3em;
        padding: 0.2em 0;
        font-weight: 700;
    }

    .info {
        background: #ffffff;
        display: inline-block;
        font-size: 10px;
        width: 13px;
        height: 13px;
        color: #807bcf;
        line-height: 13px;
        text-align: center;
        border-radius: 50%;
        vertical-align: middle;
    }

    .subtxt {
        font-size: 12px;
        opacity: 0.8;
    }

    #circle-back {
        opacity: 0.5;
    }
}

.slide-pagination {
    margin-top: 10px;
    text-align: center;

    a {
        font-size: 0;
        width: 10px;
        height: 10px;
        background: #dee5eb;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;

        &.active {
            background: #4e4d61;
        }
    }
}

.notifications {
    margin-top: 20px;

    .card {
        background: #e7e7e7;
        border-radius: 10px;
        padding: 20px 20px 20px 60px;
        line-height: 1.4;
        font-size: 13px;
        font-weight: 400;
        position: relative;

        &:not(:nth-of-type(1)) {
            margin-top: 10px;
        }

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            background: url('../images/svg/wall-clock.svg') no-repeat center / contain;
            position: absolute;
            left: 20px;
            top: 50%;
            margin-top: -10px;
        }
    }
}

.toggle-list {
    margin-top: 20px;

    >.list {
        border-radius: 10px;
        border: 1px solid #ddd;
        margin-top: 10px;
        padding: 20px;
        position: relative;

        p {
            font-weight: 700
        }

        small {
            display: block;
            color: #666;
            font-weight: 400;
            margin-top: 4px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 32px;
            height: 20px;
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -10px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #dadada;
            transition: .4s;

            &::before {
                background: #4e4d61;
            }
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 3px;
            bottom: 3px;
            background-color: #4e4d61;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #4e4d61;

            &::before {
                background: #ffd651;
            }
        }

        input:checked+.slider:before {
            transform: translateX(12px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    }
}

//interest calculator 
.calculate {
    h4 {
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .irs--flat .irs-grid-pol {
        display: none;
    }

    .input-calc-value {
        text-align: right;

        input {
            border: none;
            width: 100%;
            text-align: right;
        }
    }
}

//range slider plugin custom
.noUi-target {
    height: auto;
    margin-top: 20px;
    border: none;
    box-shadow: none;
    background: transparent;
}

.noUi-connect {
    background-color: #4e4d61 !important;
    transition: 0.3s;
}

.noUi-connects {
    height: 12px;
    background-color: #dee5eb;
    border-radius: 4px;
}

.noUi-origin {
    transition: 0.3s;
}

.noUi-horizontal .noUi-handle {
    width: 25px;
    height: 25px;
    background: #6cd7d2 !important;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: initial !important;
    top: 0;
    transform: translateY(-8px);
    z-index: 1;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
    top: 20px;
    z-index: 21;
    border-radius: 50% !important;
    text-align: center;
    line-height: 25px !important;
    top: 2px;
    right: -11px;
    font-size: 0 !important;
    transition: 0.3s;

    &::before,
    &::after {
        display: none;
    }
}

.noUi-pips-horizontal {
    height: auto;
    position: relative;
}

.noUi-marker-horizontal.noUi-marker,
.noUi-marker-horizontal.noUi-marker-large {
    width: 1px;
    height: 6px;
    top: 5px;
}

.noUi-value {
    font-size: 10px;
}

.calculate {
    .noUi-target {
        margin-top: 10px;
    }

    h4 {
        padding-bottom: 0
    }

    .rate-info {
        display: flex;
        justify-content: space-between;
        background: #f2f2f2;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        margin-top: 30px;


        .rate--reg,
        .rate--club {
            width: 50%;
            font-weight: 700;
            font-size: 2em;
            letter-spacing: -2px;
            color: #807bcf;

            i {
                font-size: 16px;
                vertical-align: top;
            }

            >p {
                font-weight: 700;
                color: #4e4d61;
                font-size: 0.4em;
                letter-spacing: 0;
                text-transform: uppercase;
            }
        }
    }

    .calc-result {
        // display: flex;
        //flex-wrap: wrap;
        justify-content: space-between;
        font-size: 2em;
        color: #4e4d61;
        font-weight: 700;
        margin-top: 20px;
        text-align: right;
        letter-spacing: -0.04em;
        padding-right: 10px;

        >p {
            margin-top: 10px;
        }

        strong {
            //display: block;
            font-size: 0.4em;
            color: #999;
            letter-spacing: 0;
            text-transform: uppercase;
            padding-right: 5px;
        }

        span {
            font-size: 20px;
            color: #999
        }
    }
}

#depositDayRangeSlider {
    .noUi-marker-normal {
        display: none;
    }
}

#depositRangeInput {
    margin-top: 10px;
    border: none;
    font-size: 1em;
    text-align: right;
    width: 100%;
    padding-right: 5px;
    font-weight: 700;
    color: #333;
    border: 1px solid #eee;
    border-radius: 10px;
    line-height: 30px;
    height: 30px;
}

.morgage {
    .chart {
        background-color: #4e4d61;
        border-radius: 10px;
        text-align: center;
        margin-top: 20px;
        padding: 10px;

        .bullets {
            margin-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li {
                color: #fff;
                text-align: left;
                margin-top: 0;

                &.others {
                    &::before {
                        background: #2f2e3e
                    }
                }
            }
        }

        >svg {
            display: inline-block;
            vertical-align: middle;
        }

        #circle-back {
            opacity: 0.1;
        }
    }

    .info {
        margin-top: 25px;

        li {

            font-size: 0.85em;
            margin-top: 10px;
            padding-left: 10px;
            position: relative;
            line-height: 1.5;

            &::before {
                content: '';
                width: 5px;
                height: 1px;
                background: #222;
                position: absolute;
                top: 7px;
                left: 0;
            }
        }
    }
}

//custom radiobox(check)
.check-type {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;

    >label {
        position: relative;
        width: 23%;
        height: 30px;
        cursor: pointer;

        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            line-height: 30px;
            border-radius: 10px;
            width: 100%;
            display: block;
            background-color: #beb9c5;
            color: #222;
            text-align: center;
            transition: 0.3s;
            font-weight: 400;
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked {
                &~span {
                    background-color: #4e4d61;
                    color: #fff;
                }
            }
        }
    }
}

.link {
    text-decoration: none;
    color: #807bcf;
    font-weight: 700;
    font-size: 11px;
    padding: 2px 7px;
    display: inline-block;
    vertical-align: middle;
    background: #e3deec;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
        background: #807bcf;
        color: #e3deec
    }
}